@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}
#showcase {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	flex: 33%;
}
.projectLink {
	flex: 1;
	display: block;
	background-color: gray;
	color: inherit;
}
.thumbnail {
	object-fit: contain;
	max-width: 100%;
}

