@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	color: lightgray;
}
body {
	background-color: black;
}
#showcase {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	flex: 33%;
	margin: 0;
}
main {
	color: lightgray;
}
.projectLink {
	flex: 1;
	background-color: rgba(0, 0, 0, 0.6);
	color: inherit;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 0.5em;
	border: solid purple;
	min-width: 400px;
}
.thumbnail {
	object-fit: contain;
	max-width: 100%;
}
#background-animation {
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 70%;
}

